name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
    # Checkout the repository
    - name: Checkout code
      uses: actions/checkout@v4

    # Set up JDK
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Setup gradle
      uses: gradle/actions/setup-gradle@v4

    - name: Make gradlew executable
      if: runner.os != 'Windows'
      run: chmod +x game-main/gradlew

    - name: Build, compile, generate code coverage
      working-directory: game-main
      run: ./gradlew build jacocoTestReport --stacktrace

    # Archive the JAR build artifact
    - name: Upload JAR artifact
      uses: actions/upload-artifact@v4
      with:
        name: game-${{ runner.os }}
        path: game-main/build/libs/*.jar

    - name: Upload Jacoco report
      if: runner.os == 'Linux'
      uses: actions/upload-artifact@v4.3.1
      with:
        name: jacoco-report
        path: game-main/build/reports/jacoco
